:root{
    --pink : hsl(356, 100%, 63%);
    background-color: var(--pink);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#page-container{
    height: 100vh;
}
#main-Page{
    position: absolute;
    width: 100%;
    top: 21.5vh;
    display: flex;
    justify-content: center;
}

#selector-container{
    position: absolute;
    display: flex;
    top: 11.5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 10px;
    flex-wrap: wrap;
}
.button-container-agent{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-family: monospace;
    cursor: pointer;
    box-shadow: 0px 5px 10px 2px black;
    position: relative;
    transition: background-color 400ms ease;
}
.button-agent{
    font-size: 23px;
}
.button-container-agent::before{
    content: "";
    width: 0%;
    height: 4px;
    position: absolute;
    background-color: rgb(0, 153, 255);
    bottom: 0px;
    left: 0%;
    transition: width 400ms ease ,
    left 400ms ease;
    filter: drop-shadow(0px 10px 10px blue);
    box-shadow: 0px 0px 4px lightblue;
}
.button-container-agent:hover{
    background-color: rgb(241, 181, 91);
}
.button-container-agent:hover::before{
    width: 90%;
    left: 5%;
}
#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1300px;
    padding: 30px;
    gap: 30px;
}
.card{
    color: black;
    width: 600px;
    background-color: rgb(165, 97, 7);
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color ease 500ms;
    background-size: cover;
    background-position: center;
}
.hero-name{
    font-size: 80px;
    letter-spacing: 4px;
    font-weight: 600;
    -webkit-text-stroke:4px black;
    user-select: none;
    text-shadow: 0px 0px 10px white;

}
.role-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    padding: 10px;
    letter-spacing: 4px;
    font-weight: 1000;
    color: black;
    user-select: none;
    text-shadow: 0px 0px 10px white;
}
.role-icon{
    width: 50px;
    height: 50px;
}
.role-icon img{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;
}
.hero-photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.hero-description{
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.abilities-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: black;
    font-weight: 1000;
    text-shadow: 0px 0px 10px white;
}
.ability{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-weight: 100;
}
.abilityPhoto img{
    height: 50px;
    width: 50px;
}
.abilityName{
    font-size: 40px;
    text-align: center;
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 4px solid none;
    border-bottom: 4px solid black;
}
.abilityDiscription{
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 1680px) {
    .button-container-agent{
        height: 30px;
        width: 140px;
    }
    .button-agent{
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    .button-container-agent{
        height: 20px;
        width: 120px;
        transition: width 500ms ease,
        height 500ms ease;

    }
    .button-agent{
        font-size: 12px;
        transition: font-size 500ms ease;
    }
}
@media screen and (max-width: 1024px) {
    #card-container{
        padding: 20px;
        gap: 20px;
    }
}
@media screen and (max-width: 768px) {
    #card-container{
        padding: 20px;
        gap: 20px;
    }
    .card{
        width: 400px;
        transition: width 500ms ease;
    }
    .role-name{
        font-size: 20px;
        letter-spacing: 2px;
    }
}
@media screen and (max-width: 600px) {
    #main-Page{
        top: 25vh;
        transition: top 500ms ease;
    }
}
@media screen and (max-width: 500px) {
    .hero-name{
        font-size: 60px;
    }
    .card{
        width: 400px;
        transition: width 500ms ease;
    }
}
@media screen and (max-width: 425px) {
    .card{
        width: 280px;
        padding: 10px;
        gap: 10px;
    }
    .hero-name{
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 600;
        -webkit-text-stroke: 2px black;
    }
    .role-name{
        -webkit-text-stroke: 1px black;
        gap: 10px;
        font-size: 12px;
        padding: 5px;
    }
    .role-icon{
        width: 50px;
        height: 50px;
    }
    .hero-photo img{
        width: 125px;
        height: 125px;
    }
    .hero-description{
        font-size: 15px;
    }
    .abilities-container{
        font-size: 30px;
    }
    .abilityPhoto img{
        height: 35px;
        width: 35px;
    }
    .abilityName{
        font-size: 30px;
        text-align: center;
    }
    .abilityDiscription{
        text-align: center;
        font-size: 16px;
    }
}
