:root{
    --pink : hsl(356, 100%, 63%);
    background-color: var(--pink);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
#page-container{
    height: 100vh;
}
#selector-container{
    position: absolute;
    display: flex;
    top: 11.5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 10px;
    flex-wrap: wrap;
}
.button-container-gun{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-family: monospace;
    cursor: pointer;
    box-shadow: 0px 5px 10px 2px black;
    position: relative;
    transition: background-color 400ms ease;
}
.button-gun{
    font-size: 23px;
}
.button-container-gun::before{
    content: "";
    width: 0%;
    height: 4px;
    position: absolute;
    background-color: rgb(0, 153, 255);
    bottom: 0px;
    left: 0%;
    transition: width 400ms ease ,
    left 400ms ease;
    filter: drop-shadow(0px 10px 10px blue);
    box-shadow: 0px 0px 4px lightblue;
}
.button-container-gun:hover{
    background-color: rgb(241, 181, 91);
}
.button-container-gun:hover::before{
    width: 90%;
    left: 5%;
}
#main-Page{
    position: absolute;
    width: 100%;
    top: 20vh;
    display: flex;
    justify-content: center;
}
#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    padding: 30px;
    gap: 30px;
}
.card{
    width: 360px;
    background-color: rgb(165, 97, 7);
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color ease 500ms;
}
.card:hover{
    background-color: hsl(356, 100%, 23%);
}
.gun-photo{
    width: 100%;
}
.gun-photo img{
    width: 100%;
}
.gun-name{
    font-size: 35px;
    font-weight: 1000;
    color:brown;
    text-shadow: 0px 0px 14px black;
    -webkit-text-stroke: 2px black;
    text-align: center;
}
.catagory-name{
    font-size: 20px;
    color: white;
}
.gun-properties{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 20px;
    color: white;
    font-size: 18px;
}
.cost{
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.damageRanges{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
    margin-top: 10px;
    color: aqua;
}
@media screen and (max-width: 1680px) {
    .button-container-gun{
        height: 30px;
        width: 140px;
    }
    .button-gun{
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    .button-container-gun{
        height: 20px;
        width: 120px;
        transition: width 500ms ease,
        height 500ms ease;

    }
    .button-gun{
        font-size: 12px;
        transition: font-size 500ms ease;
    }
}
@media screen and (max-width: 1024px) {
    #card-container{
        padding: 20px;
        gap: 20px;
    }
    .card{
        width: 240px;
        padding: 14px;
        transition: width 500ms ease;
        gap: 10px;
    }
    .damageRanges{
        font-size: 10px;
        transition: font-size 500ms ease;
        margin-top: 10px;
        gap: 20px;
    }
    .gun-properties{
        padding: 0px 14px;
        font-size: 14px;
        transition: font-size 500ms ease;

    }
    .catagory-name{
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    #main-Page{
        top: 25vh;
        transition: top 500ms ease;
    }
}
.skins-button{
    background-color: beige;
    width: 140px;
    padding: 10px;
    font-size: 25px;
    height: 50px;
    text-align: center;
    font-family: monospace;
    font-weight: 1000;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 4px yellow;
    transition: 500ms background-color ease;
    position: relative; 
    overflow-x: hidden;
}
.skins-button::before{
    position: absolute;
    content: "Skins";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 0);
    border-radius: 30px;
    top: 0;
    width: 0px;
    left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 200ms ease,
    width 500ms ease;
}
.skins-button:hover::before{
    width: 100%;
    left: 0px;
}
